head{
	color: #B0C4DE;
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #002244;
	color: #B0C4DE;
	padding: 0px;
	margin: 0px;
	text-align: center;
	height: 100%;
}

#left_column{
	background-image: url("../Images&Wireframes/background.jpg");
	color: #B0C4DE;
	width: 25%;
	float: left;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

#centre_column{
	color: #B0C4DE;
	float: left;
	width: 49.68%;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	border-left-style: solid;
	border-left-color: #B0C4DE;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #B0C4DE;
	border-right-width: 2px;
}

#right_column{
	float: left;
	width: 24%;
	height: 100vh;
	padding: 0px;
	margin-right: 10px;
	text-align: right;
}